body {
    font-family: "Open Sans", sans-serif;
}

.logo {
    width: 75px;
}

.R15 {
    width: 750px;
}

.logo-footer {
    width: 200px;
}

#main-content {
    min-height: 1024px;
    background-color: white;
}

#main .navbar {
    border-radius: 0px;
}

footer {
    color: white;
}

#footer-menu {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#footer-menu li a {
    text-decoration: none;
    color: violet;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.social-icons a {
    display: inline-block;
    margin: 15px;
    font-size: 30px;
    color: white;
}

.m-0 {
    margin: 0px;
}
.p-0 {
    padding: 0px;
}
.border-top {
    border-top: 1px solid #d2d2d2;
}
.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-purple {
    background-color: #622569;
}

.bg-copyright {
    background-color: #55095e;
    border-top: 1px solid #52065a;
    padding: 15px;
    font-size: 12px;
}

.bg-copyright a {
    color: white;
}

#details-menu li {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}

.py-40 {
    padding-top: 200px;
    padding-bottom: 20px;
}

#video-content {
    max-height: 1024px;
}

.slide-image {
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#slide-image-1 {
    background-image: url("../images/slider/car.jpg");
}

#slide-image-2 {
    background-image: url("../images/slider/cycle.jpg");
}

#slide-image-3 {
    background-image: url("../images/slider/grocery.jpg");
}
.product-image-wrapper {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.green-shadow {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgb(253, 253, 255) 0%,
        rgba(236, 238, 229, 0.191) 0%,
        rgba(78, 143, 68, 1) 100%,
        rgba(0, 212, 255, 1) 100%
    );
}
.blue-shadow {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgb(253, 253, 255) 0%,
        rgba(236, 238, 229, 0.191) 0%,
        rgb(143, 142, 68) 100%,
        rgb(255, 251, 0) 100%
    );
}
.fc-white {
    color: white;
}
